/* html {
    background-color: #E4E9FD;
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  
  h1 {
    color: #fff;
    padding: 10px;
  }
  
  #heading {
    background-color: #A683E3;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
   */
.isHidden {
  display:none;
}

/* from gwendylharter */
body{
  font-family: 'Montserrat Alternates', sans-serif;
}

h1{
  font-size: 48px;
}

.leftBorderContainer, .rightBorderContainer {
  padding-left: 0;
  padding-right: 0;
  min-height: 400px;  /* this is not a good idea for mobile */
}
.imageContain {
  height: 100%;
  width:100%;
  vertical-align: middle;

  position: absolute;
  left: -8px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-position: 0px 50%;
  background-size: contain;
  background-repeat: no-repeat;

  object-fit: cover;
}
.accordion-row{
  min-height: 450px;;
}
.robotImage2 {
  width: 100%;
  object-fit: contain;
}

.accordion-button {
  width: 100%;
  text-align: left;
  border-top:0;
  border-left:0;
  border-right:0;
}
.socialButton {
  width: 60px;
  font-size: 60px;
  vertical-align: middle;
}
.copywrite {
  color: lightgray;
}
.footerimage {
  width: 30px;
  font-size: 60px;
  vertical-align: bottom;
}
.rightalign {
  text-align: right;
}
